<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <th:block th:replace="/fragments/header :: headerFragment"></th:block>
    <link rel="stylesheet" href="/static/css/myPage.css"/>
</head>
<body>
    <div class="row max-inner">
        <!--sidebar-->
            <th:block th:replace="/member/sidebar :: sidebarFragment"></th:block>
        <!--sidebar-->
        <div class="main">
            <div class="sidebar-header">
                비밀번호 변경
                <hr>
            </div>
            <div class="main-info">
                <form action="/member/edit" method="post" id="form-edit">
                    <input type="hidden" name="memberId" th:value="${session.memberDTO.memberId}"/>
                    <input type="hidden" name="check-password" id="check-password" th:value="${session.memberDTO.password}"/>
                    <br>
                    <label>&nbsp;현재 비밀번호</label>
                    <input type="password" class="input-field" id="old-password" required/>
                    <br><br>
                    <label>&nbsp;새 비밀번호</label>
                    <input type="password" class="input-field" name="password" id="password" required maxlength="8"/>
                    <br><br>
                    <label></label><button type="button" onclick="compare()">변경</button><br><br>
                </form>
            </div>
        </div>
    </div>
    <!-- footer -->
    <th:block th:replace="/fragments/footer :: footerFragment"></th:block>
    <!-- footer 끝 -->
    <script src="/static/js/info.js"></script>
    <script th:inline="javascript">
        let message = [[${message}]]; //controller에서 날린 request 객체에 담긴 메세지

        if(message!=null){
            alert(message);
        }
    </script>
</body>
</html>